<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      height: 100vh;
    }

    h1 {
      color: #333;
    }

    form {
      margin-top: 20px;
    }

    input[type="submit"] {
      background-color: #3498db;
      color: #fff;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<h1>This is your cart!!</h1>
<hr>

<table th:if="${cartList != null && cartList != ''}">
  <tr>
    <th>Brand</th>
    <th>Price</th>
    <th>Rating</th>
  </tr>
  <tr th:each="s : ${cartList}">
    <td th:text="${s.brand}"></td>
    <td th:text="${s.price}"></td>
    <td th:text="${s.rating}"></td>
    <td><a th:href="@{/secure/deleteWatchByBrand/}+${s.brand}">Delete</a></td>
  </tr>
</table>
<br><hr><br>
<form method="post" th:action="@{/logout}">

  <input type="submit" value="Logout" />
</form>
<input type="submit" value="Proceed to checkout!" onsubmit="calculateTotal()"/>

  <script th:inline="javascript">
    function calculateTotal() {
    let totalPrice = 0;

    // Iterate over each row in the table
    $('table tr').each(function () {
    // Skip the header row
    if ($(this).find('th').length === 0) {
    // Get the price from the second column (index 1)
    var price = parseFloat($(this).find('td:eq(1)').text());

    totalPrice += price;
  }
  });

    alert('Total Price: ' + totalPrice.toFixed(2));
  }
</script>

</body>
</html>
